button {
    
    border: 1px solid black;
    font-size: 14px;
    text-align: center;
    width: 100%;
    padding: 1em;
    box-sizing: border-box;
    transition: all 0.3s ease ;
}

#new-client {
    background: rgb(253,122,0);
    width: 100%;
    display: block;
    border: 1px solid black;
    color: black;
    font-size: 14px;
    text-align: center;
    width: 100%;
    padding: 1em;
    box-sizing: border-box;
    transition: all 0.3s ease ;
}

#new-client:hover {
    color: white;
} 


form input[type="search"] {
    width: 100%;
    padding: 1em;
    box-sizing: border-box;
    margin-bottom: 0.2em;
}

#client-profile {
    width: 300px;
    padding: 0.5em;
    border: 1px solid rgb(194, 194, 194);
}

#edit-client, #delete-client, #patch-client {
    width: 100%;
    display: block;
    padding: 1em;
    box-sizing: border-box;
    color: black;
    border:1px solid black;
    background: rgb(253,122,0);
    margin: 0.5em 0em;
    text-align: center;
    transition: all 0.3s ease;
    font-size: 14px;
}
#edit-client:hover, #delete-client:hover, #patch-client:hover {
    color: white;
}




#client-data {
    list-style: none;
}

#client-data li {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    box-sizing: border-box;
    border: 1px solid black;
    margin: 0.3em 0em;
}

.form-group label{
    display: block;
    margin-bottom: 0.5rem;
}

.form-group input, .form-group select, button {
    width: 100%;
    padding: 1em;
    box-sizing: border-box;
    margin-bottom: 1rem;
}



button:hover {
    color: white;
}

@media screen and (min-width:480px){

}