* {
 margin: 0;
 padding: 0;
 font-family: Arial, Helvetica, sans-serif;
}

.main-content{
    width: 90%;
    margin: auto;
}

.mt-1 {
    margin-top: 1em;
}
.mt-2 {
    margin-top: 2em;
}

.my-1 {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}
.my-2 {
    margin-top: 1em;
    margin-bottom: 1em;
}
.my-3 {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

.mb-1 {
    margin-bottom: 1em;
}

.mb-2 {
    margin-bottom: 2em;
}


.underline {
    margin-bottom: 1em;
    padding-bottom: 0.1em;
    border-bottom: 1px solid rgb(177, 177, 177);
}

button {
    cursor: pointer;
}


#site {
    display: grid;
    grid-template-rows: minmax(4.5em,10vh) minmax(80vh,auto) minmax(4.5em,10vh);
    grid-template-areas: 
                        'header'
                        'main'
                        'footer';
}


/* Grid Areas ----------------------------- */
header {
    grid-area: header ;
}

main {
    grid-area: main;
}

footer{
    grid-area: footer ;
}

/* Header ----------------------------- */

header {
    border-bottom: 3px solid rgb(253, 122, 0);
}   

header nav {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-content: center;
    padding-top: 5px;
}

header nav div:first-child {
 align-self: center;
}

#menu_icon {
    font-size: 0px;
    display: block;
    height: 50px;
    width: 45px;
    background: url('../assets/menu_icon.png');
    z-index: 300;

}

header nav div ul {
    width: 50vw;
    height: 90vh;
    background: rgb(36, 36, 36);
    display: flex;
    flex-direction: column;
    list-style: none;
    position: absolute;
    left: -50vw;
    top: calc(10vh + 5px);
    z-index: 250;

}

header nav div ul li {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 1px solid rgb(253, 122, 0);
}

header nav div ul li a {
    display: block;
    color: white;
    height: 3em;
    line-height: 3em;
    padding: 0em 1em;
    box-sizing: border-box;
    text-decoration: none;
}

header nav div:last-child {
    align-self: center;
}
header nav img {
    width: 50px;
    height:50px;
}

header, footer {
    background: #000000;
    color: #ffffff;
}


/* Main ----------------------------- */

#sidebar {
    display: none;
}

main #login, header nav, footer div {
    width: 90%;
    margin: auto;
}


/* Footer ----------------------------- */

footer div {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Btn -------------------------------------*/

.btn {
    padding: 1em;
    box-sizing: border-box;
    text-decoration: none;
    transition: all 0.3s ease;
}

.btn-remis-light {
    border: 2px solid rgb(253, 122, 0);
    color:rgb(253, 122, 0);
    background: white;  
}

.btn-remis-light:hover {
    color: white;
    background: rgb(253, 122, 0);
    border: 2px solid rgb(124, 60, 0);
}

.btn-remis-dark {
    border: 1px solid black;
    color: black;
    background: rgb(253, 122, 0);
}

.btn-block {
    display: block;
    width: 100%;
}



.btn-remis-dark:hover {
    color: white;
}

@media screen and (min-width:801px){
    
    #site {
        grid-template-columns: 2fr 8fr;
        grid-template-areas: 
                        'header header'
                        'sidebar main'
                        'footer footer';
    }
    
    .header, .main-content{
        width: 90%;
        margin: auto;
    }

    #menu_icon, header nav div ul{
        display: none;
    }

    #mobile-nav {
        width: 100%;
        justify-content: flex-start;
        
        
    }

    #logo {
        align-self: center;
        padding-left: 1em;
    }

    /* Sidebar ----------------------------- */

    #sidebar {
        display: block;
        grid-area: sidebar;
        width: 100%;
        background: rgb(255, 255, 255);
        box-shadow: 1px 0px 8px #000000;
        grid-area:sidebar;
        padding: 1em 1em;
        box-sizing: border-box;
    }

    #sidebar ul {
        display: flex;
        flex-direction: column;
        list-style: none;
    }
    
    #sidebar ul li {
        width: 100%;
        height: 2em;
        line-height: 2em;
        border-bottom: 1px solid rgb(177, 177, 177);
        margin: 0.5em 0em;
        transition: all 0.3s ease;
    }
    
    #sidebar ul li a {
        text-decoration: none;
        color: #000000;
        transition: all 0.3s ease;
        display: flex;
        justify-content: space-between;
        
        
    }

    #sidebar ul li a span {
        align-self: center;
    }

    #sidebar ul li a i {
        align-self: center;
    }

    #sidebar ul li:hover {
        border-bottom: 1px solid rgb(253, 122, 0);
    }

    #sidebar ul li:hover a {
        color: rgb(253, 122, 0);
    }

    #login h1 {
        font-size: 3rem;
    }


    main {
        grid-area: main;
        padding: 1em 1em;
        box-sizing: border-box;
    }

    
}




